
<%include partials/header.ejs%>
<br><br><br>
	<h1>404 - THIS PAGE DOES NOT EXIST</h1> 
	<h6>The page you are looking for either doesn't exist or another error occured</h6><br><br><br>
	<img src="https://media.giphy.com/media/6CaG0FjBsac5LZZycG/giphy.gif">
	<br><br><br>
	<a href="/movies/feed"><h2>Click HERE to return to the feed</h2></a>
</body>
</html>