<%include ../partials/header.ejs%>

<h1>Recent Reviews</h1>
<% reviews.forEach(review => { %>
  <div class="feed-review">
  	<img src="<%=review.movieId.poster%>">
  	<h6><%=review.userId.name%> says:</h6>
  	<p><%=review.content%></p>
  	<small><%=review.timestamp.toLocaleString()%></small>
  </div>
  
<% }) %>

<%include ../partials/footer.ejs%>