<%include ../partials/header.ejs%>

<h1>Recent Reviews</h1>
<% reviews.forEach(review => { %>
  <div class="feed-review">
  	<img src="<%=review.movieId.poster%>">
  	<h6>
  		<img width=30px height=30px src="https://fasab.files.wordpress.com/2013/03/potato-pete.jpg">
  		<a href=/user/:id><%=review.userId.name%></a> said:
  	</h6>
  	<p><%=review.content%></p>
  	<small><%=review.timestamp.toLocaleString()%></small>
  </div>
  
<% }) %>

<%include ../partials/footer.ejs%>




