<%include ../partials/header.ejs%>

<h1>Write a review!</h1>
<form action="/movies/<%=imdbID%>" method="POST">
	<textarea rows="5" cols="70" placeholder="Write your review here!" name="content"></textarea> <br>
	<button class="btn btn-success" value="submit">Submit Review</button>
</form>
	
<%include ../partials/footer.ejs%>