	<%include ../partials/header.ejs%>
	<h1>REGISTER FOR AN ACCOUNT</h1>
	<a href="/user">Already have an account? Log in here!</a>
	<h3><%=message%></h3>
	<form action="/user/new" method="POST">
		Username: <input type="text" name="name" /> <br/>
		Password: <input type="password" name="password" /> <br/>
		Your Default Avatar: <br> 
		<img width=60px height=60px src="https://fasab.files.wordpress.com/2013/03/potato-pete.jpg">
		<br>
  		<form enctype="multipart/form-data" action="/register.ejs" method="POST">
		    <br />
		    <label>Or, upload a photo:</label> <br />
		    <input type="file" name="photo"><br />
		    <br>
		    <button>Create Account!</button>
		</form>

	</form>


<%include ../partials/footer.ejs%>