<%include ../partials/header.ejs%>

<h1>Your Account Information</h1>
<div class="user"> 
	<img width=30px height=30px src="https://fasab.files.wordpress.com/2013/03/potato-pete.jpg"> 
	<%=user.name%>
	<h3><%=message%></h3>
	<a href="/movies/feed">Back to Feed</a>	
</div>


<%include ../partials/footer.ejs%>